.login {
  min-height: 70vh;
  padding: 2rem;
}

.login__card {
  margin-top: 3rem;
  padding: 1rem;
  width: 100%;
}

.login__info {
  display: block;
  margin-top: 1rem !important;
}

.btn__progress {
  color: green !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}

.form {
  display: grid;
}

@media (max-width: 900px) {
  .login__card {
    padding: 0.5rem;
  }
}
